@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <br/>
    <h1>Enlaces</h1>
    <a asp-controller="Ciudadano">Ciudadano</a><br />
    <a asp-controller="Ciudadano" asp-action="indice">Ciudadano</a><br />
    <a asp-controller="Ciudadano" asp-action="valores">Valores de apsettings</a><br />
</div>
