@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form asp-controller="Cuenta" asp-action="Login" method="post">
    <table>
        <tr>
            <td>Usuario:</td>
            <td><input type="text" name="usuario"/></td>
        </tr>
        <tr>
            <td>Contraseña:</td>
            <td><input type="password" name="pass"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Ingresar"/></td>
        </tr>
    </table>

    @ViewBag.error
</form>